body {
    font-family: 'Spectral SC', serif;
}
.navbar {
    background-color: #F3F4F4;
    padding: 20px 0px;
    a {
        color: #2C80CE;
    }
    .navbar-brand {
        font-size: 1.75rem;
    }
    // .nav-link {
    //     // margin: auto 16px;
    // }
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.custom-toggler {
    border-color: #2C80CE;
}