body {
  font-family: 'Spectral SC', serif; }

.font-small {
  font-family: "Spectral", serif; }

.container {
  padding: 0px 20px; }

.navbar {
  background-color: #f4f4f4;
  padding: 20px 0px; }
  .navbar a {
    color: #20518a; }
  .navbar .navbar-brand {
    font-size: 1.75rem; }
  .navbar .nav-item {
    position: relative; }
  .navbar .nav-link:hover, .navbar .nav-link:focus {
    color: #2c80ce; }
  .navbar .active {
    color: #2c80ce; }
  .navbar .active::after {
    content: ' ';
    width: 20px;
    height: 2px;
    background: #2c80ce;
    position: absolute;
    bottom: 0px;
    left: 1.5rem; }
  @media (max-width: 768px) {
    .navbar .active::after {
      left: 0; } }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler {
  border-color: #0082d4; }

.custom-jumbotron {
  background-color: #0082d4; }

footer {
  background: #20518a; }

.newsletter-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.newsletter-send {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #2c80ce;
  position: relative;
  left: -4px; }
